__pycache__/
*.pyc
.venv/
.venv-linux/
venv/
build/
dist/
*.spec
!packaging/**/*.spec
*.egg-info/
.pytest_cache/
packaging/windows/output/
packaging/linux/output/
packaging/linux/tools/
*.AppDir/
.worktrees/
assets/
.superpowers/
releases/
